/*
	CSS Rules
	Syntax: 
		selector {
			property:  value;
		}
*/

h1 {
	color: yellow !important;
}

/*1. UNIVERSAL SELECTOR*/
/*CSS Reset & Change font of every element in HTML*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "courier new", monospace;
	font-size: 20px;
}
/*Type Selector*/

body {
	background-color: skyblue;
}

/*Attiribute Selector*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Class Selector*/

.offering-item {
	text-transform: uppercase;
}

/*ID Selector - */

h3 {
letter-spacing: 10px;
}
/*Regardeless if h3 create first it will override if your going to use the ID Selector*/

#zuitt-motto {
	letter-spacing: 5px;
}

/*CCS SELECTOR COMBINATORS*/
/*ADJACENT SIBLING SELECTOR*/
/*siling_element + target_element 
	property: value;
*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTOR*/
/*
	sibling_element ~ target_elemet{
	property: value;
	}
*/

h2 ~ a, a {
	text-decoration: none;
}

/*CHIL SELECTOR*/
/*
	selector 1 > selector 2 {
		style: properties;
	}
*/

body > section > form > label {
	color: rgb(0, 0, 128);
}

/*DECENDANT SELECTOR*/

/*
	selector 1 selector 2 {
		style: properties
	}
*/

#boothcamp-learning-list li {
	color: #075966;
}

html {
	scroll-behavior: smooth;

}

/*Navigation bar*/

nav {
	background-color: white;

}

/*Selector: hover psudo class*/

/*Changes the style when hovered over*/

a:hover {
	background-color: #b4d6de;
}

/*Div for the navbar*/

div {
	display: inline-block;
	float: right;
}

/*Landing section and form section*/
section {
	height: 100vh;
	text-align: center;
}

/*Welcome to zuitt and Register*/
h2 {
	font-size: 1.5rem;
}

/*List: remove number*/
ol {
	list-style-type: none;
}

/*register form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}