
#external {
	color: yellow;
}

* {
	box-sizing: border-box;
	padding: 10;
	margin: 10;
	font-family: "courier new", monospace;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#hello {
 text-transform: uppercase;
}

.learned {
	background-color: limegreen;
}

/*Attribute Selector*/
li[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Adjacent selector*/
h4 + img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

ul ~ p {
	text-align: center;
	color: black;
}

body > section > ul > li {
	letter-spacing: 10px;
	list-style-type: none;
}
